:root {
	--primary: 94, 52, 85;
	--accent: 70, 15, 143;
	--white: 250, 250, 250;
	--black: 15, 15, 15;
	--grey: 234, 234, 234;
	--red: 181, 0, 0;
}

body {
	background-color: rgb(var(--grey));
	color: rgb(var(--black));

	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, a:hover {
	color: rgb(var(--accent));
}

.wrapper {
	max-width: 60rem;
	margin: 0 auto;
}

.banner {
	background-color: rgb(var(--primary));
	background: linear-gradient(rgba(var(--primary), 0.90), rgba(var(--primary), 1.0));
}

.banner .selected {
	font-weight: bold;
}

.banner .nav a {
	display: inline-block;
	color: rgb(var(--white));
	padding: 1rem;
}

.content {
	background-color: rgb(var(--white));
	box-shadow: 0 0 10rem rgba(var(--primary), 0.2);

	padding: 1.5rem;
}

.home .centerpiece {
	text-align: center;

	margin: 0 auto;
}

.home .names {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	font-size: 4rem;
	border-bottom: 0.2rem solid rgb(var(--primary));
	border-radius: 0.2rem;
}

.home .names > * {
	margin: 1rem;
}

.home .names img {
	width: 4rem;
	vertical-align: baseline;
	margin: 0 1rem;
}

.home .names .rebe img {
	margin-bottom: -0.5rem;
}

.home .names .bride {
	justify-self: right;
}

.home .names .rebe {
	font-family: 'Dancing Script', serif;
	justify-self: right;
}

.home .names .plus {
	font-family: cursive;
	font-size: 2rem;
}

.home .names .luke {
	font-family: 'Gloria Hallelujah', sans-serif;
	justify-self: left;
}

.home .cool {
	margin-top: 1rem;
	font-size: 1rem;
}

.home .date {
	text-align: center;
	font-size: 1.5rem;
}

.home .intro {
	margin-top: 2rem;
}

.registry .overlay {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);

	z-index: 10;
}

.registry .overlay a.deselect {
	flex-grow: 1;
	cursor: initial;
}

.registry .fullItem {
	background: rgb(var(--white));
	width: 100%;
	max-width: 60rem;
	overflow: auto;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 1rem;
}

.registry .fullItem .header {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 1rem;
	background-color: rgb(var(--primary));
	color: rgb(var(--white));
}

.registry .fullItem .header img {
	width: 100%;
}

.registry .fullItem .header .info {
	padding: 1rem;
}

.registry .fullItem .header .name {
	font-size: 2rem;
	font-weight: bold
}

.registry .fullItem .border {
	background: rgba(0, 0, 0, 0.1);
}

.registry .fullItem .body {
	padding: 1rem;
}

.polaroids {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.polaroid {
	display: inline-block;

	background-color: rgba(var(--white));
	box-shadow: 0.1rem 0.2rem 0.4rem rgba(var(--black), 0.25);

	padding: 1rem;
	margin: 1rem;

	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5rem;
	text-decoration: none;
	color: rgb(var(--black));

	transform: rotate(-2deg);
	transition: transform 0.15s linear, box-shadow 0.15s linear;

	text-align: center;

	flex-basis: 18rem;
	max-width: 30rem;
	flex-grow: 1;
}

.polaroid > img {
	margin-bottom: 1rem;
}

.polaroids .polaroid:nth-child(even) {
	transform: rotate(2deg);
}

.polaroids .polaroid:nth-child(3n) {
	transform: translate(-5px 0);
}

.polaroids .polaroid:nth-child(5n) {
	transform: translate(5px, 0) rotate(5deg);
}

.polaroids .polaroid:nth-child(8n) {
	transform: translate(5px, 8px);
}

.polaroids .polaroid:nth-child(11n) {
	transform: translate(-5px, 3px);
}

.polaroid:hover {
	transform: scale(1.2) !important;
	z-index: 5;
	box-shadow: 0.1rem 0.2rem 0.4rem rgba(var(--black), 0.5);
	color: inherit;
	text-decoration: none;
}

.polaroid img {
	object-fit: cover;
	width: 100%;
}

.polaroid .name {
	text-decoration: underline;
}

.polaroid .cost {
	font-size: 1rem;
}

.registry .buyer {
	color: rgb(var(--red));
	font-size: 1rem;
}

.registry .polaroid {
	flex-grow: 0;
	flex-basis: 16rem;
}

.registry .pay .pal {
	text-align: center;
}

.registry .pay button {
	width: 6rem;
	height: 2rem;
}

.form {
	display: grid;
	grid-template-columns: minmax(6rem, auto) 1fr minmax(6rem, auto);
	grid-gap: 1rem;
	padding: 1rem;
	align-items: start;
	height: 100%;
}

.form label {
	grid-column: 1 / 2;
	justify-self: right;
	margin: 0;
}

.form select {
	grid-column: 2 / 4;
}

.form input {
	grid-column: 2 / 4;
}

.form textarea {
	grid-column: 2 / 4;
}

.form button {
	grid-column: 1 / 2;
}

.form input[type="submit"] {
	grid-column: 3 / 4;
}

.error {
	color: rgb(var(--red));
}

.section {
	margin-bottom: 1.5rem;
}

.section > p {
	margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gloria Hallelujah';
	color: rgb(var(--white));
	font-weight: normal;

	padding: 0.5rem 1rem;
	margin-bottom: 1rem;

	background-color: rgb(var(--primary));
	background: linear-gradient(rgba(var(--primary), 0.9), rgba(var(--primary), 1.0));

	box-shadow: 0.1rem 0.1rem 0 rgba(var(--primary), 0.5);

	border: 0.1rem solid rgb(var(--white));
	border-radius: 0.5rem;
}

.timeslot {
	font-weight: bold;
	border-bottom: 0.1rem solid rgba(var(--black), 0.8);
}
