body {
	font-family: 'Gelasio', serif;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	display: flex;
	align-items: flex-end;

	border-radius: 6px;

	width: 300px;
	height: 200px;
	margin: 10px;

	background-repeat: no-repeat;
}

.item > .name, .item > .cost {
	padding: 8px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.75);
}

.item > .name {
	flex-grow: 1;
}

input[type=email]:invalid:not(:focus) {
	background: hsla(0, 90%, 70%, 1);
}
