:root {
	--primary: #5e3455;
	--accent: #460f8f;
	--white: #fafafa;
	--black: #0f0f0f;
	--grey: #eaeaea;
}

body {
	background-color: var(--grey);
}

.banner {
	display: grid;
	grid-template-columns: 1fr min(65rem, 100vw) 1fr;
}

.banner {
	background-color: var(--primary);
}

.banner > .logo {
	text-align: right;
}

.banner > .wrapper {
	grid-column: 2 / 2;
}

.banner a {
	display: inline-block;
	color: var(--white);
	padding: 1rem 2rem;
}

.content {
	width: min(70rem, 100vw);
	margin: 0 auto;

	background-color: var(--white);
	box-shadow: 0 0 10rem rgba(94, 52, 85, 0.2);

	padding: 2rem;
}

.home .centerpiece {
	text-align: center;

	width: min(40rem, 100vw);
	margin: 0 auto;
}

.home .names {
	font-size: 4rem;
	border-bottom: 0.2rem solid var(--primary);
	border-radius: 0.2rem;
}

.home .names .rebe {
	font-family: 'Dancing Script', cursive;
}

.home .names .plus {
	font-family: cursive;
	font-size: 2rem;
}

.home .names .luke {
	font-family: 'Gloria Hallelujah', cursive;
}

.home .cool {
	margin-top: 1rem;
	font-size: 1rem;
}

.home .names .plus {
	margin: 0 1rem;
}

.home .date {
	text-align: center;
	font-size: 1.5rem;
	font-family: mono;
}

.home .intro {
	margin-top: 4rem;
}

.registry .overlay {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);

	z-index: 10;
}

.registry .overlay a.deselect {
	flex-grow: 1;
	cursor: initial;
}

.registry .fullItem {
	background: white;
	width: 80%;
	overflow: auto;
	display: grid;
	grid-template-rows: auto 5px 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

.registry .fullItem .header {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 1rem;
}

.registry .fullItem .header img {
	width: 100%;
}

.registry .fullItem .header .name {
	font-size: 2rem;
	font-weight: bold
}

.registry .fullItem .border {
	background: rgba(0, 0, 0, 0.1);
}

.registry .items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.registry .items .item {
	display: flex;
	align-items: flex-end;

	width: 16rem;
	padding: 1rem;
}

.registry .items .item a {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	padding: 1rem;

	text-decoration: none;
	color: #333333;

	transform: rotate(-2deg);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.registry .items .item.selected {
}

.registry .items .item:nth-child(even) a {
	transform: rotate(2deg);
}

.registry .items .item:nth-child(3n) a {
	transform: translate(-5px 0);
}

.registry .items .item:nth-child(5n) a {
	transform: translate(5px, 0) rotate(5deg);
}

.registry .items .item:nth-child(8n) a {
	transform: translate(5px, 8px);
}

.registry .items .item:nth-child(11n) a {
	transform: translate(-5px, 3px);
}

.registry .items .item a:hover {
	transform: scale(1.2) !important;
	z-index: 5;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.registry .items .item img {
	width: 100%;
	object-fit: cover;
}

.registry .item .name {
	font-size: 1.5rem;
}

.registry .buyer {
	color: #b50000;
}

.registry .pay .pal {
	text-align: center;
}

.registry .pay button {
	width: 6rem;
	height: 2rem;
}

.registry .form {
	display: grid;
	grid-template-columns: 6rem 1fr 6rem;
	grid-template-rows: 2rem 2rem 1fr 2rem;
	grid-gap: 1rem;
	padding: 1rem;
	align-items: start;
	height: 100%;
}

.registry .form label {
	grid-column: 1 / 2;
	justify-self: right;
	margin: 0;
}

.registry .form input, .registry .form button {
	grid-column: 2 / 4;
}

.registry .form textarea {
	grid-column: 2 / 4;
	height: 100%;
	width: 100%;
}

.registry .form input[type="submit"] {
	grid-column: 3 / 4;
}
