body {
	font-family: 'Gelasio', serif;
}

.overlay {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);

	z-index: 10;
}

.overlay a.deselect {
	flex-grow: 1;
	cursor: initial;
}

.fullItem {
	background: white;
	max-width: 80%;
	padding-top: 12px;
	padding-left: 12px;
	overflow: scroll;
}

.fullItem .header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fullItem .header img {
	float: left;
	width: 250px;
	height: 250px;
	padding-right: 12px;
	padding-bottom: 12px;
}

.fullItem .header .info {
	flex-grow: 1;
	padding-right: 12px;
	padding-bottom: 12px;
}

.fullItem .header .name {
	font-size: 32px;
	font-weight: bold
}

.fullItem .header .cost {
}

.fullItem .header .description {
}

.fullItem .body {
	padding-right: 12px;
	padding-bottom: 12px;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	display: flex;
	align-items: flex-end;

	width: 200px;
	padding: 20px;
}

.item a {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	padding: 10px;

	text-decoration: none;
	color: #333;

	transform: rotate(-2deg);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.item.selected {
}

.items .item:nth-child(even) a {
	transform: rotate(2deg);
}

.items .item:nth-child(3n) a {
	transform: translate(-5px 0);
}

.items .item:nth-child(5n) a {
	transform: translate(5px, 0) rotate(5deg);
}

.items .item:nth-child(8n) a {
	transform: translate(5px, 8px);
}

.items .item:nth-child(11n) a {
	transform: translate(-5px, 3px);
}

.item a:hover {
	transform: scale(1.2) !important;
	z-index: 5;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.item img {
	width: 100%;
	object-fit: cover;
}

.item .name, .item .cost {
	padding: 8px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.75);
}

input[type=email]:invalid:not(:focus):not([value=""]) {
	background: hsla(0, 90%, 70%, 1);
}
